# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# prisma generated client
apps/api/src/generated/
**/node_modules/.prisma/

# env
.env
.env.local
.env.*.local

# tests / coverage
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db
